body {
    --blue: #347BCD;
    --red: #df2214;
    --green: #3a7a24;
    --yellow: #f8ba00;
    --purple: #be4cac;

    --background: #fff;
    --background-off: #eee;
    --background-off2: #ccc;
    --grey-middle: #888;
    --foreground-faded: #aaa;
    --foreground-off: #666;
    --foreground: #333;
}

@media (prefers-color-scheme: dark) {
    body {
        --blue: #4390e8;
        --green: #56b238;
        --purple: #d35cc1;

        --background: #222;
        --background-off: #333;
        --background-off2: #555;
        --grey-middle: #aaa;
        --foreground-faded: #888;
        --foreground-off: #bbb;
        --foreground: #eee;
    }
}